<main>
  <div class="site-neck">
    <div class="neck-title">
      <span>The Slime Blog</span>
      <div class="neck-subtitle">
        <span>fast, clean and simple design</span>
      </div>
    </div>
  </div>
  <div class="site-line-slash"></div>
  <div class="site-posts">
    <div class="post-list">
      <% page.posts.sort('date', -1).each((item) => { %>
        <div class="post-item">
          <div class="post-header">
            <h3>
              <a href="<%- url_for(item.path) %>">
                <% if(item.title !== "") { %>
                <span><%- item.title %></span>
                <!-- <%- item.excerpt %> -->
                <!-- <%- item.photos %> -->
                <% } else { %>
                  <span>no-title</span>
                <% } %>
              </a>
            </h3>
            <p class="post-date">post on <%- item.date.format("YYYY-MM-DD") %> · update on <%- item.updated.format("YYYY-MM-DD") %></p>
            <% _content_excerpt = item.excerpt %>
            <p class="post-excerpt"><%- _content_excerpt %></p>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</main>
